
.neo {
    list-style-type: none;
    border: 1px solid var(--bs-dark);
    border-radius: 4px;
    background-color: var(--bs-light);
    min-width: 200px;
    flex-grow: 1;
}

.h6 {
    margin-block-end: 1rem
}

.ul {

}